<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/mediaQuerys.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>Kolav</title>
</head>

<body>
  <header>
    <div class="navbar">
      <h1 class="logo" >Logo</h1>
      <ul class="menu mostrarMenu" id="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">PlayList</a></li>
        <li><a href="#">Login</a></li>     
      </ul>
      <div class="menubars" id="menubar">
        <i class="fas fa-bars"></i>
      </div>
      <div class="Busqueda">
        <i class="fas fa-search" id="btnBuscar"></i>
        <input  id="buscador" type="text" class="busquedaocultar" placeholder="Busca tu Artista " >
        <button id="EjecutarBusqueda" class="btn busquedaocultar"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </header>
  <main>
    <h3 class="Subtitle">
      <i class="fas fa-crown"></i> Top List
    </h3>
    <div class="MainContent">
      <div class="card">
        <div class="avatar" style="background-image: url('img/bad.jfif')"></div>
        <div class="Informacion">
          <p>Bad Buny</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/britney-spears.jpeg')"></div>
        <div class="Informacion">
          <p>Britney Spears</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/chita-.jpeg')"></div>
        <div class="Informacion">
          <p>Chita</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/sodastereo.png')"></div>
        <div class="Informacion">
          <p>Soda Stereo</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/taichu.png')"></div>
        <div class="Informacion">
          <p>Taichu</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/maluma.png')"></div>
        <div class="Informacion">
          <p>Maluma</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/pinkfloyd.png')"></div>
        <div class="Informacion">
          <p>Pink Floid</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/spinneto.png')"></div>
        <div class="Informacion">
          <p>Spinneta</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/Rolling-stone.jpeg')"></div>
        <div class="Informacion">
          <p>Rolling Stones</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/thebeattles.jpeg')"></div>
        <div class="Informacion">
          <p>The Frans</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/ledzeppelin.png')"></div>
        <div class="Informacion">
          <p>Led Zepelin</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <div class="card">
        <div class="avatar" style="background-image: url('img/nickyjam.png')"></div>
        <div class="Informacion">
          <p>Nicky Jam</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="socialNet">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-whatsapp"></i>
    </div>
    <div class="members">
      <ul>
        <li><i class="fas fa-cube"></i>Francisco Jimenez</li>
      </ul>
    </div>
  </footer>
</body>
<script src="js/main.js"></script>

</html>