@media only screen and (max-width:600px) {
    .navbar {
        position: relative;
        width: 100vw;
     
    }

    .menubars {
        display: block;
        grid-column: 7/8;
        cursor: pointer;
    }

 
    .navbar .menu {
        display: none;        
        
    }

    .ocultarMenu{
        display: none;    
    }
    .mostrarMenu{
        position: absolute;
        width: 100%;
        height: 70vh;       
        display: grid;
        text-align: center;
        align-items: center;
        background: rgb(190, 156, 61);
        margin-top: 38em;
        transform: translateX(185%);
    }

    .navbar .menu-toggle{
        transform: translateX(50%);
    }
    .MainContent{
        grid-template-columns: repeat(1, 1fr); 
        height: 100vh;    
    }
  
   
    .avatar{ 
     display: none
    }
  
    .Informacion{
        display: flex;
        align-items: center;
        justify-content:space-between ;
        width: 100%;
    }

    .Informacion .btn{
        margin: 10px;
    }
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;

    }
   
}